<form>
  <div class="form-group">
    <label >Tweet About Somethin'</label>
    {{input id="tweet" class="form-control" value=tweet placeholder="Tweet" maxlength="141"}}
    <br>
    <button class="btn btn-warning" {{action 'save'}}>Tweet!</button>
  </div>
</form>
<h2>Twwwweeeeeeeeeeeeeeets!</h2>
<ul>
  {{#each}}
    <li>{{#link-to 'date' this.id}}{{tweet}} {{date}}{{/link-to}}</li>
  {{/each}}
</ul>

{{outlet}}
